    			<footer class="footer" role="contentinfo">
					<div id="inner-footer" class="row">
						<div class="large-12 medium-12 columns">
							<nav role="navigation">
	    						{% include footer-nav.html %}
	    					</nav>
	    				</div>
						<div class="large-12 medium-12 columns">
							<p class="source-org copyright">&copy; <span id="year"></span> {{ site.title }}.</p>
						</div>
					</div> <!-- end #inner-footer -->
				</footer> <!-- end .footer -->
			</div>  <!-- end .main-content -->
		</div> <!-- end .off-canvas-wrapper-inner -->
	</div> <!-- end .off-canvas-wrapper -->
    <script src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>
  </body>
</html>