{% include head.html %}
	
	<div class="off-canvas-wrapper">
			
			<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
				
				{% include _parts/content-offcanvas.html %}
				
				<div class="off-canvas-content" data-off-canvas-content>
					
					<header class="header" role="banner">
							
						 <!-- This navs will be applied to the topbar, above all content 
							  To see additional nav styles, visit the /parts directory -->
						 {% include _parts/nav-title-bar.html %}
		 	
					</header> <!-- end .header -->