---
layout: default
---

<div id="content">
	
	<div id="inner-content" class="row">

	    <main id="main" class="large-12 columns" role="main">
			
			<article role="article" itemscope itemtype="http://schema.org/WebPage">
			
				<header class="article-header">
					<h1 class="page-title">{{ page.title }}</h1>
				</header> <!-- end article header -->
				
				<section class="entry-content" itemprop="articleBody">
					{{ content }}
				</section> <!-- end article section -->
							
			</article> <!-- end article -->					
		    					
		</main> <!-- end #main -->
	    
	</div> <!-- end #inner-content -->

</div> <!-- end #content -->